* {
  overscroll-behavior: none;
}

.bodycontainer {
  padding-top: 50px;
}

.is-4 {
  text-align: center;
  color: white;
}

.is-orange {
  background-color: darkorange;
  color: white;
}


h2 span {
  background-color: #3273dc;
  padding: 10px;
  line-height: 1.6;
}

.icons-under-image {
  width: 50%;
  margin: 0 auto;
}

.edit {
  margin: 0 auto;
}

.is-one-third {
  margin-bottom: 50px;
}

input {
  margin-bottom: 10px;
}

img {
  object-fit: cover;
  cursor: pointer;
  padding-top: 0% !important;
}

figure {
  height: auto;
}

.ytb-thumbnail {
    width: 20vw;
}

.imagefigure {
  position: relative;
  text-align: center;
}

.tags {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.filtergroup {
  padding-bottom: 50px;
}

.modal-content {
  padding: 0;
}

.btn {
  left: 20px;
  z-index: 100000;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #005bac;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #005bac;
  padding: 15px 10px 5px;
  position: fixed;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #eef;
}

.zoom {
  bottom: 190px;
  line-height: 16px;
  box-sizing: border-box;
}

.zoom-out {
  bottom: 120px;
  line-height: 16px;
  box-sizing: border-box;
}
.zoom-init {
  bottom: 50px;
  line-height: 16px;
  box-sizing: border-box;
}

.fa-search-plus,
.fa-recycle,
.fa-search-minus {
  position: relative;
  bottom: 10px;
  right: 3.5px;
}

.downloadbutton {
  margin: 0 auto;
}


.personal-stories{
    width:49%;
    display: inline-block;
}

.personal-stories-titles{
    text-align: center;
    font-size: 25px;
}

.personal-stories-images{
    border-radius: 25px;
    width: 80%;
    height: 80%;
    margin:2% 7% 7% 10%;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


.menulogin {
  margin: 0;
  margin-left: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section1{
    position:relative;
    height:600px;
    background:#F1F5F8;
    padding:10px 0px;
    width:100%;
}
.section1 h2{
    text-align:center;
    font-size:40px;
}
.section1 p{
    text-align:center;
    padding:0px 70px;
    color:grey;
}
.sticky-social{
    position:fixed;
    top:310px;
    padding:0px;
    margin:0px;
}
.social{
    list-style:none;
}
.social li{
    padding:10px 10px;
    font-size:25px;
    transition:all 0.2s ease-in-out;
}
.social li:hover{
    margin-right:-30px;
    box-shadow:2px 5px 10px grey;
}
.social li:hover .fa{
    margin-left:20px;

}
.fa{
    color:#fff;
    transition:all 0.2s ease-in-out;
}
.fb{
    background-color:#3C5A98;
}
.twitter{
    background-color:#1EA1F2;
}
.insta{
    background-color:#DC4F42;
}
.pin{
    background-color:#CB2128;
}
.linkedin{
  background-color: #0077b5;
}
.email{
    background-color:#848484;
}

.youtube{
    background-color: #CB2128;
}

#hide-social{
  cursor: pointer;
}

